.container-menu-mobile {
  margin: 80px;
}

.container-menu-mobile .logoMee {
  position: absolute;
  top: 3.5%;
  left: 42.5%;
  width: 130px;
  height: 70px;
}

.menu.menu__aberto {
  width: 350px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 32px 32px 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 3;
  display: flex;
  animation: opening 350ms ease-out forwards;
}

.menu.menu__fechado {
  display: none;
  width: 0px;
}

.icone-hamburger {
  position: absolute;
  z-index: 4;
  left: 8%;
  top: 4.5%;
  transition: 350ms;
}

.icone-hamburger img {
  width: 60px;
}

.icone-hamburger__ativo {
  transform: rotateY(-180deg);
  transition: 350ms;
}

.list {
  position: absolute;
  font-size: 25px;
  left: 77px;
  top: 218px;
  cursor: pointer;
}

.list .listItems li {
  list-style: none;
  padding: 17.5px 0;
}

.link_ativo p {
  border-bottom: solid 2px #72bf8e;
  font-weight: 600;
  color: #72bf8e;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 2;
  top: 0%;
  left: 0%;
  backdrop-filter: blur(3px);
  animation: overlay 350ms ease-out forwards;
}

@media (width <= 480px) {
  .container-menu-mobile {
    margin: 30px;
  }

  .menu.menu__aberto {
    width: 47%;
    border-radius: 0 16px 16px 0;
  }

  .icone-hamburger {
    top: 2.5%;
    left: 9%;
  }

  .icone-hamburger img {
    width: 45px;
  }

  .list {
    left: 43px;
    top: 120px;
  }

  .container-menu-mobile .logoMee {
    position: absolute;
    top: 2%;
    left: 42%;
    width: 65px;
    height: 45px;
  }
}
@media (width <= 375px) {
  .icone-hamburger {
    top: 3%;
    left: 9%;
  }

  .icone-hamburger img {
    width: 35px;
  }
}

@keyframes opening {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
