.container-grid{
    display: grid;
    width: 30%;
    grid-template-columns: 1;
    grid-auto-rows: 150px;
}
.item-grid{
    position: relative;
    margin-bottom: 15px;
}
.item-grid .img-grid{
    width: 100%;
    height: 100%;
    object-fit: cover;

} 
.h-1{
    grid-row: span 1;
    border-top-left-radius: 40px;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 1;
    border-bottom-right-radius: 40px;
}
