.container-carrossel-grid {
  display: flex;
  gap: 19px;
}

.container-grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 80px;
}

.foto-carrossel-sem-foco {
  opacity: 40%;
}

.foto-carrossel-com-foco,
.img-carrossel {
  animation: opacity-out 1s;
  transition: 1s;
}

@keyframes opacity-out {
  0% {
    opacity: 40%;
  }
  100% {
    opacity: none;
  }
}

.container-grid > img,
.container-carrossel img {
  width: 100%;
}

@media (width <= 1024px) {
  .container-carrossel-grid {
    gap: 32px;
  }
}

@media (width <= 375px) {
  .container-carrossel-grid {
    flex-direction: column;
    justify-content: center;
  }

  .container-carrossel {
    max-height: 250px;
  }

  .container-carrossel-grid .container-grid {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    max-width: 100%;
    height: 30px;
  }
}
