.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  max-width: 250px;
  animation: fade 500ms ease-out forwards;
}

.titulo-post {
  margin-bottom: 11px;
}

.hidden {
  display: none;
}

.card-container__imagem > img {
  box-shadow: 0px 0px 25px 6px rgba(153, 153, 153, 0.1);
  border-radius: 32px 0px;
  background-color: #fdfdfd8c;
  max-height: 230px;
  max-width: 230px;
  border: 10px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 1024px) {
  .card-container {
    margin-top: 50px;
  }
}

@media (width <= 480px) {
  .card-container {
    text-align: center;
    align-items: center;
  }

  .card-container button P {
    width: 120px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
