.container-plantas {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  padding: 15px;
}

.container-fotos {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: center;
}
