.container-plantas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
  margin-top: 52px;
  animation: fade 500ms ease-out forwards;
}

.container-fotos {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: center;
}

@media (width <= 1024px) {
  .container-plantas {
    gap: 190px;
    margin-top: 115px;
  }
  .container-titulo {
    font-size: 30px;
  }
  .container-fotos {
    display: flex;
    justify-content: space-evenly;
    gap: 64px;
  }
}

@media (width <= 480px) {
  .container-plantas {
    gap: 48px;
    margin-top: 40px;
  }
  .container-titulo {
    align-items: center;
  }
  .container-fotos {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}