.form-container{
    display:flex;
    flex-direction: column;
    width: 309px;
    height: 362px;
}
label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 2em;
    color: lightgray;
}
.btn-enviar{
    margin-left: 200px;
}
@media (max-width: 1020px){
    .form-container{
        margin-left: 65px;
        display:flex;
        flex-direction: column;
        width: 369px;
        height: 477px;
    }
    label{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    input{
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 2em;
    }
    .btn-enviar{
        margin-left: 300px;
    } 
}
@media (width < 420px){
    .form-container{
        margin-left: 30px;
        display:flex;
        flex-direction: column;
        width: 311px;
        height: 288px;
    }
    .btn-enviar{
        margin-top: 30px;
        margin-left: 110px;
    } 
}