.container-circulo {
  border-radius: 50% 0 50% 0;
  background-color: #fdfdfd;
  height: 230px;
  width: 230px;
  border: solid 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo {
  border-radius: 50%;
  max-width: 150px;
  height: 150px;
}

.circulo:hover {
  max-width: 200px;
  height: 200px;
}

.container-borda {
  border-radius: 50% 0 50% 0;
  background-color: #fdfdfd;
  max-height: 230px;
  max-width: 230px;
  border: solid 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borda {
  border-radius: 50% 0 50% 0;
  max-width: 230px;
  max-height: 230px;
}

.sem-borda {
  border-radius: 50% 0 50% 0;
  max-width: 500px;
}

@media (width <= 375px) {
  .sem-borda {
    max-width: 250px;
    width: 100%;
  }
}
