.container-blog {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-posts {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

@media (width <= 1024px) {
  .container-posts {
    margin-top: 150px;
  }
}

@media (width < 600px) {
  .titulo-blog {
    margin-left: -80px;
  }
  .container-posts {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
  }
}
