.container-blog {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-posts {
  display: flex;
  gap: 65px;
  align-items: center;
  justify-content: center;
}

@media (width <= 1024px) {
  .container-posts {
    margin-top: 85px;
  }
}

@media (width < 600px) {
  .container-posts {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
    gap: 15px;
    margin: 0 50px 50px;
  }
}
