.container-post {
  display: flex;
  margin-top: 15px;
}
.container-post_textos {
  width: 100%;
  animation: fade 150ms ease-out forwards;
}
.container-post_grid {
  width: 100%;
  margin-top: -50px;
  margin-bottom: 52px;
  animation: slideLeft 1s ease-out forwards;
}

.blog-seta {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 32px;
}

.blog-seta a img {
  width: 22px;
}

.textos-titulo {
  width: fit-content;
  margin-bottom: 20px;
  border-bottom: solid 3px #69bf8e;
}

.textos-paragrafo {
  width: 380px;
}

@media (width <= 1024px) {
  .container-post_grid {
    margin-bottom: 150px;
    margin-left: 95px;
  }

  .blog-seta {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .blog-seta a img {
    width: 22px;
  }

  .textos-titulo {
    width: 420px;
    margin: 60px 0;
  }
}

@media (width <= 480px) {
  .container-post {
    gap: 130px;
  }
  .container-post_grid {
    margin-bottom: 90px;
  }
  .blog-seta {
    align-items: baseline;
    gap: 8px;
  }
  .blog-seta a img {
    width: 15px;
  }

  .container-post {
    flex-direction: column;
  }

  .container-post_textos {
    order: 1;
  }
  .container-post_grid {
    margin: 0 auto;
    order: 0;
    animation: fadeMobile 1s ease-out forwards;
  }
  .textos-titulo {
    width: 320px;
    margin: 15px 0;
  }

  .textos-paragrafo {
    width: 311px;
    margin: 30px 0;
  }
}

@media (width <= 375px) {
  .container-post {
    gap: 100px;
  }
  .textos-titulo {
    width: 315px;
    margin: 0;
  }

  .textos-paragrafo {
    width: 311px;
    margin: 30px 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(-1rem);
  }
}
