.container-titulo {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-foto {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

@media (width <= 1024px) {
  #container-plantas__categorias {
    display: flex;
    flex-direction: column;
    gap: 96px;
  }

  .container-foto {
    margin-left: -75px;
    gap: 64px;
  }

  .seta {
    position: absolute;
    top: 16%;
    left: 10%;
  }

  .container-titulo {
    font-size: 30px;
  }
}

@media (width <= 480px) {
  #container-plantas__categorias {
    gap: 0px;
  }


  .seta {
    position: absolute;
    top: 13%;
    left: 10%;
  }
  .container-titulo {
    align-items: center;
  }


  .container-foto {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
}
