#container-plantas__categorias {
  display: flex;
  flex-direction: column;
  margin-block: 58px;
  gap: 64px;
}

.container-seta-imagem-planta-categoria {
  display: flex;
  gap: 68.6px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container-titulo {
  text-align: center;
}

.container-foto {
  display: flex;
  gap: 96px;
}

.seta-voltar-planta-categoria {
  position: absolute;
  top: 35%;
  left: 0%;
}

@media (width <= 1024px) {
  #container-plantas__categorias {
    gap: 190px;
    margin-block: 115px;
  }

  .container-seta-imagem-planta-categoria {
    left: 0px;
    gap: 0px;
  }

  .container-foto {
    gap: 64px;
  }
}

@media (width <= 480px) {
  #container-plantas__categorias {
    margin-block: 40px;
    gap: 48px;
  }

  .container-foto {
    flex-direction: column;
    gap: 56px;
  }
}
