.container-conteudo {
  display: flex;
  gap: 250px;
  margin-top: 32px;
}
.container-abas__sobre {
  width: 200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: solid 1px #d3d3d3;
  margin: 22px 0;
}

.container-abas__sobre h2 {
  font-size: 18px;
}

.aba-ativa {
  position: relative;
}

.aba-ativa::after {
  position: relative;
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  left: 0;
  bottom: 0;
  background-color: #69bf8e;
  animation: aba-ativa 500ms;
}

.grid-sobre__nos {
  animation: slideLeft 1s ease-out forwards;
  margin-top: -50px;
}
.grid-sobre__mee {
  animation: slideRight 1s ease-out forwards;
  margin-top: -50px;
}

@media (width <= 1024px) {
  .container-abas__sobre {
    width: 265px;
    margin: 95px 0 40px;
  }
  .container-abas__sobre h2 {
    font-size: 24px;
  }
}

@media (width <= 480px) {
  .container-conteudo {
    flex-direction: column;
    gap: 70px;
    margin-bottom: 48px;
  }
  .container-abas__sobre {
    margin-top: 18px;
  }

  .container-abas__sobre h2 {
    font-size: 28px;
  }

  .container-textos {
    order: 1;
  }
  .container-textos p {
    font-size: 18px;
    line-height: 25px;
  }

  .grid-sobre__nos {
    animation: fade1 1s ease-out forwards;
    margin-top: 10px;
  }

  .grid-sobre__mee {
    animation: fade2 1s ease-out forwards;
    margin-top: 10px;
  }
}

@media (width <= 375px) {
  .container-conteudo {
    gap: 30px;
  }

  .container-abas__sobre h2 {
    font-size: 24px;
  }
}

@keyframes slideLeft {
  0% {
    display: none;
  }
  10% {
    display: block;
  }
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(-2rem);
  }
}

@keyframes slideRight {
  0% {
    display: none;
    transform: translateX(-2rem);
  }
  10% {
    display: block;
    opacity: 0;
    transform: translateX(-2rem);
  }
  25% {
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes aba-ativa {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fade1 {
  0% {
    display: none;
  }
  10% {
    display: block;
  }
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    display: none;
  }
  10% {
    display: block;
  }
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
