.containter-sobrenos {
  display: grid;
  margin-block: 32px;
  row-gap: 16px;
  column-gap: 60px;
  grid-template-columns: auto max-content;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "titulo imagem"
    "conteudo imagem";
}

.sobrenos-titulo {
  grid-area: titulo;
}

.sobrenos-conteudo {
  grid-area: conteudo;
  max-width: 450px;
}

.sobrenos-imagem {
  grid-area: imagem;
}

.grid-sobre__nos {
  animation: slideLeft 1s ease-out forwards;
}
.grid-sobre__mee {
  animation: slideRight 1s ease-out forwards;
}

@keyframes slideLeft {
  0% {
    display: none;
  }
  10% {
    display: block;
  }
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(-2rem);
  }
}

@keyframes slideRight {
  0% {
    display: none;
    transform: translateX(-2rem);
  }
  10% {
    display: block;
    opacity: 0;
    transform: translateX(-2rem);
  }
  25% {
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@media (width <= 1024px) {
  .containter-sobrenos {
    row-gap: 64px;
  }
}

@media (width <= 480px) {
  .containter-sobrenos {
    grid-template-columns: 1fr;
    row-gap: 32px;
    grid-template-areas:
      "titulo"
      "imagem"
      "conteudo";
  }
  .grid-sobre__nos {
    animation: fade1 1s ease-out forwards;
  }
  .grid-sobre__mee {
    animation: fade2 1s ease-out forwards;
  }

}

@keyframes fade1 {
  0% {
    display: none;
  }
  10% {
    display: block;
  }
  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    display: none;
  }
  10% {
    display: block;
  }
  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
