button {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 16px;
font-size: 20px;
color: #ffff;
background: #69BF8E;
border: 1.11765px solid #69BF8E;
box-sizing: border-box;
box-shadow: 3px 3px 6px rgba(147, 220, 176, 0.7);
border-radius: 8px;
}