.texto-contato{
    margin-left: 64px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-contato{
    display: flex;
    flex-direction: row;
}
.main-contato{
    width: 50%;
}
.container-planta{
    width: 50%;
}
.planta-contato1{
    position: absolute;
    width: 680px;
    height: 860px;
    left: 600px;
    top: 0px;
    border-radius: 64px 0px 0px 64px;
}
.planta-contato2{
    display: none;
}
.planta-contato3{
    display: none;
}
.links-externos{
        position: absolute;
        top: 40%;
        left: 65%;
}
@media (max-width: 1024px){
    .texto-contato{
        margin-left: 64px;
        width: 300px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .main-contato{
        width: 70%;
    }
    .container-planta{
        width: 30%;
        display: flex;
        flex-direction: column;
    } 
    .planta-contato1{
        display: flex;
        position: initial;
        width: 250px;
        height: 380px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .planta-contato2{
        display: flex;
        border-top-left-radius: 90px;
        margin-bottom: 10px;
    }
    .planta-contato3{
        display: flex;
        border-bottom-right-radius: 90px;
    }
    .links-externos{
            position: absolute;
            top: 50%;
            left: 75%;
    } 

}
@media (width < 480px){
    .container-planta{
        display: none;
    } 
    .texto-contato{
    margin-left: 30px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
}