.container-loading {
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 20%;
  left: 42%;
}

.icone-loading {
  display: block;
  width: 2rem;
  height: 2rem;
}

@media (width <= 1024px) {
  .container-loading {
    top: 15%;
  }
}

@media (width <= 480px) {
  .container-loading {
    left: 35%;
  }
}
