.fundoLinkContato{
    display: flex;
    background-color: rgba(188, 190, 196, 0.3);
    width: 284px;
    height: 93px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}


.linkContato{
    color: black;
    width: 32px;
    height: 32px;    
}
@media (max-width: 1020px){
    .fundoLinkContato{
        display: flex;
        width: 180px;
        height: 72px;

    }
    .linkContato{
        background-color: white;
        border-radius: 50px;
        color: black;
        width: 32px;
        height: 32px;    
    }
}