.container-carrossel-grid {
  display: flex;
  gap: 19px;
}

.container-grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 80px;
}

.foto-carrossel-sem-foco {
  opacity: 40%;
  cursor: pointer;
}

.foto-carrossel-com-foco {
  animation: opacity-out 1s;
  transition: 1s;
}

.container-carrossel-setas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.containter-setas__carrosel {
  display: flex;
  gap: 20px;
  align-items: center;
}

.containter-setas__carrosel > img {
  padding: 5px;
  cursor: pointer;
}

.containter-setas__carrosel > img:hover {
  background-color: #e0e0e0;
  border-radius: 50%;
}

.container-carrossel {
  height: 500px;
  width: 656px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-carrossel > .slide {
  position: absolute;
}

.container-carrossel > .slide {
  transition: 500ms;
}

.container-carrossel > .select {
  height: 500px;
  width: 500px;
  transform: perspective(500px) translate3d(0, 0px, 0px);
  z-index: 1;
}

.container-carrossel > .anterior,
.container-carrossel > .proximo {
  filter: blur(20px) brightness(0.8) contrast(0.9);
}

.container-carrossel > .anterior {
  transform: perspective(500px) translate3d(-25%, 0px, -100px);
}

.container-carrossel > .proximo {
  transform: perspective(500px) translate3d(25%, 0px, -100px);
}

@keyframes opacity-out {
  0% {
    opacity: 40%;
  }
  100% {
    opacity: none;
  }
}

.container-grid > img,
.container-carrossel img {
  width: 100%;
}

@media (width <= 1024px) {
  .container-carrossel-grid {
    gap: 32px;
  }
}

@media (width <= 480px) {
  .container-carrossel-grid {
    flex-direction: column;
    justify-content: center;
  }

  .container-carrossel {
    max-height: 250px;
  }

  .container-carrossel-grid .container-grid {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    max-width: 100%;
    height: 30px;
  }

  .container-carrossel {
    height: 250px;
    width: 310px;
  }

  .containter-setas__carrosel {
    position: absolute;
    top: 435px;
    gap: 263px;
    align-items: center;
  }

  .containter-setas__carrosel > img {
    padding: 5px;
    cursor: pointer;
  }

  .container-carrossel > .select {
    height: 250px;
    width: 250px;
    transform: perspective(250px) translate3d(0, 0px, 0px);
    z-index: 1;
  }

  .container-carrossel > .anterior {
    transform: perspective(250px) translate3d(-40%, 0px, -100px);
  }

  .container-carrossel > .proximo {
    transform: perspective(250px) translate3d(40%, 0px, -100px);
  }
}
