nav{
margin-left: 64px;
margin-top: 21px;
}
.headerLink{
    text-decoration: none;
    color: grey;
    margin-left: 50px;
    font-size: 20px;
    justify-content: center;
}
.imgLogo{
    vertical-align: bottom;
    margin-left: 35px;
    width: 57px;
    height: 42px;
}
