nav {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: hind;
}

.headerLink {
  text-decoration: none;
  color: grey;
  font-size: 20px;
  justify-content: center;
}

.link_ativo-desktop {
  position: relative;
}

.link_ativo-desktop:after {
  position: relative;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 1px;
  top: 25px;
  bottom: 0;
  background-color: #69bf8e;
  animation: aba-ativa 500ms;
}

.link_inativo {
  position: relative;
}

.link_inativo:after {
  position: relative;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 1px;
  top: 25px;
  bottom: 0;
  background-color: transparent;
}

.link_inativo:hover:after {
  background-color: #69bf8e;
  animation: aba-ativa 500ms;
}

.link_ativo--logo {
  position: relative;
}

.link_ativo--logo:after {
  position: relative;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 1px;
  top: 25px;
  bottom: 0;
  background-color: #69bf8e;
  animation: aba-ativa 500ms;
}

.link_inativo--logo {
  position: relative;
}

.link_inativo--logo:after {
  position: relative;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 1px;
  top: 35px;
  bottom: 0;
  background-color: transparent;
}

.link_inativo--logo:hover:after {
  background-color: #69bf8e;
  animation: aba-ativa 500ms;
}

.imgLogo {
  vertical-align: bottom;
  width: 57px;
  height: 42px;
}
