.footer {
  padding-top: 16px;
  display: flex;
  border-top: 1px solid #8a8a8a;
  color: #8a8a8a;
  justify-content: space-between;
  align-items: center;
}
.redes {
  gap: 23.93px;
  display: flex;
  align-items: flex-end;
}
