.footer {
    display: flex;
    border-top: 1px solid #8A8A8A;
    color: #8A8A8A;
    justify-content: space-between;
    align-items: center;
}
.redes {
    gap: 23.93px;
    display: flex;
    align-items: flex-end;
}