.fundoIconeGota{
    display: flex;
    background-color: #69BF8E ;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.iconeGota{
    color: white;
    width: 20px;
    height: 20px;    
}