footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #8a8a8a;
  padding-top: 16px;
  margin-bottom: 16px;
}

.redes {
  display: flex;
  gap: 23.93px;
}
