.container-img-btn-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

@media (width <= 1024px) {
  .container-img-btn-categoria {
    gap: 62px;
  }
}

@media (width <= 480px) {
  .container-img-btn-categoria {
    gap: 32px;
  }
}
