.container-conteudo-sobrenos {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.container-abas__sobre {
  width: 200px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d3d3d3;
}

.aba-ativa {
  position: relative;
}

.aba-ativa::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #69bf8e;
  animation: aba-ativa 500ms;
}

@media (width <= 1024px) {
  .container-conteudo-sobrenos {
    gap: 40px;
  }
}

@media (width <= 480px) {
  .container-conteudo-sobrenos {
    gap: 32px;
  }
}

@keyframes aba-ativa {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
