h1,
h2,
p {
  color: #555555;
  display: inline;
}

h1 {
  font-family: "Abhaya Libre", serif;
  font-size: 40px;
  line-height: 47px;
  font-weight: 400;
}

h2 {
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
  line-height: 21.23px;
  font-weight: 400;
}

p {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

.h1-hind {
  font-family: "Hind", sans-serif;
  font-size: 24px;
  line-height: 38.42px;
  font-weight: 300;
}

.h1-contato {
  font-size: 16px;
  line-height: 24px;
}

.h2-blog {
  font-size: 24px;
  line-height: 28.31px;
}

.p-contato {
  font-size: 14px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.preto {
  color: #252525;
}

.branco {
  color: #ffffff;
}

.cinza {
  color: #555555;
}

.cinza-escuro {
  color: #343434;
}

.cinza-claro {
  color: #8a8a8a;
}

.verde-claro {
  color: #69bf8e;
}

.verde-escuro {
  color: #215044;
}

@media (width <= 1024px) {
  h1 {
    font-size: 48px;
    line-height: 57px;
  }

  h2 {
    font-size: 24px;
    line-height: 28.31px;
  }

  .h1-hind {
    font-size: 32px;
    line-height: 44.8px;
  }

  .p-contato {
    font-size: 20px;
    line-height: 30px;
  }

  .mobile-menu {
    font-size: 20px;
  }

  .mobile-menu:active {
    font-weight: 600;
    color: #69bf8e;
  }
}

@media (width <= 375px) {
  h1 {
    font-size: 24px;
    line-height: 28.31px;
    margin-bottom: 36px;
  }

  p {
    font-size: 12px;
    line-height: 14.4px;
  }

  .h1-hind {
    font-size: 16px;
    line-height: 22.4px;
  }

  .h1-contato {
    font-size: 16px;
    line-height: 24px;
  }

  .h2-blog {
    font-size: 18px;
    line-height: 21.23px;
  }

  .p-contato {
    font-size: 12px;
    line-height: 18px;
  }

  .mobile-menu {
    font-size: 16px;
  }
}
